<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Version Features</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 15px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <span>Welcome, <span th:text="${#authentication.name}">User</span>!</span>
    <form th:action="@{/logout}" method="post" style="display: inline;">
<!--        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />-->
        <input type="submit" value="Logout" />
    </form>
</div>

<h1>Version Features</h1>
<div th:each="version : ${map}">
    <h2 th:text="${version.key}+1">Java Version</h2>
    <table>
        <thead>
        <tr>
            <th>Feature</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="feature : ${version.value.entrySet()}">
            <td th:text="${feature.key}">Feature</td>
            <td th:text="${feature.value}">Detail</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
