<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf GET Example</title>
</head>
<body>
<h1>Thymeleaf GET Example</h1>

<form th:action="@{/versionchanges}" method="get">
    <label for="versionEarlier">VersionEarlier:</label>
    <input type="number" id="versionEarlier" name="versionEarlier" required />
    <label for="versionLater">VersionLater:</label>
    <input type="number" id="versionLater" name="versionLater" required />
    <button type="submit">Submit Parameters</button>
</form>

</body>
</html>