<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Learn Software Versions</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <span>Welcome, <span th:text="${#authentication.name}">User</span>!</span>
    <form th:action="@{/logout}" method="post" style="display: inline;">
        <input type="submit" value="Logout" />
    </form>
</div>
<h1>Java Versions Features</h1>
<h2>Select Java version below you would like to see the upgraded features for</h2>

<form th:action="@{/versionchangesjava}" method="get">
    <label for="versionEarlierJava">Earlier Version:</label>
    <select id="versionEarlierJava" name="versionEarlier">
        <option th:each="versionEarlierJava : ${javaVersions}" th:value="${versionEarlierJava}" th:text="${versionEarlierJava}"></option>
    </select>
    <select id="versionLaterJava" name="versionLater">
        <option th:each="versionLaterJava : ${javaVersions}" th:value="${versionLaterJava+1}" th:text="${versionLaterJava+1}"></option>
    </select>
    <button type="submit">Submit</button>
</form>


<h1>Apex Versions Features</h1>
<h2>Select Apex version below you would like to see the upgraded features for</h2>

<form th:action="@{/versionchangesapex}" method="get">
    <label for="versionEarlierApex">Earlier Version:</label>
    <select id="versionEarlierApex" name="versionEarlier">
        <option th:each="versionEarlierApex : ${apexVersions}" th:value="${versionEarlierApex}" th:text="${versionEarlierApex}"></option>
    </select>
    <select id="versionLaterApex" name="versionLater">
        <option th:each="versionLaterApex : ${apexVersions}" th:value="${versionLaterApex+1}" th:text="${versionLaterApex+1}"></option>
    </select>
    <button type="submit">Submit</button>
</form>

</body>
</html>